/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

:root {
    --primary-color: #4c6ef4;
    --secondary-color: #ed4747;
    --white-color: #fff;
    --shadow-color: #7f89a19a;
    --black-color: #000;
    --text-color: #333;
    --services-section-color: #241e72;
    --services-card-color: #3c80aabd;

    --linear-color: linear-gradient(45deg, #0099ff -9.4%, #a033ff 51.57%, #ff5280 84.07%, #ff7061 90.59%);
    --shadow-color: #7f89a19a;
    /* cursor */
    --top: 0;
    --left: 0;
    --cursor-width: 30px;
    --img-width: 30px;
    --color: #000;
    --blending-mode: normal;
    --default-cursor: 'none'
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background: var(--white-color);
    color: var(--text-color);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    text-transform: capitalize;
}