/* custom carousel styling */
.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid var(--secondary-color) !important;
    transition: all 0.3s ease;
}

.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
    background: var(--secondary-color) !important;
}

/* custom hover.css styling */
.hvr-sweep-to-top::before {
    content: "";
    background: var(--primary-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.hvr-shutter-out-horizontal::before {
    content: "";
    background: var(--primary-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.hvr-shutter-in-horizontal::before {
    content: "";
    background: #222;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.hvr-shutter-in-horizontal {
    background: var(--primary-color);
}

.hvr-rectangle-in::before {
    content: "";
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    top: 1px;
    right: 1px;
    left: 1px;
    bottom: 1px;
    background: var(--primary-color);
}

.hvr-rectangle-in {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.hvr-rectangle-in:hover {
    background: var(--white-color);
    color: var(--primary-color);
}

.hvr-radial-out::before {
    content: "";
    background: var(--linear-color);
}

/* custom alert styling */
.swal-title,
.swal-text {
    color: var(--black-color);
    font-weight: 600;
    text-align: center;
}

.swal-button {
    background: #0083ff;
}