@import url(../css/grid.css);

@media (max-width:991px) {
    section .title {
        font-size: 28px
    }

    .menu-btn {
        display: block;
        z-index: 99999;
        color: var(--secondary-color)
    }

    .menu-btn i.active::before {
        content: "\f00d"
    }

    .navbar .menu {
        position: fixed;
        z-index: 2;
        height: 100vh;
        width: 100%;
        right: -100%;
        top: 0;
        background: rgba(0, 0, 0, 1);
        text-align: center;
        padding-top: 80px;
        transition: all .4s ease;
        display: unset;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
        -o-transition: all .4s ease
    }

    .navbar .menu.active {
        right: 0
    }

    .navbar .menu li {
        display: block
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 20px;
        font-weight: 500;
        font-family: Ubuntu, serif;
        padding: unset;
        color: var(--white-color)
    }

    .header.sticky .nav-right .menu a {
        color: var(--white-color);
        font-size: 20px
    }

    .about-content__left {
        margin: 0 auto
    }

    .about-content__right a.download {
        margin-left: unset;
        margin: 0 auto
    }

    .about-content__right .name {
        text-align: center;
        padding: 5px 0 0
    }
}

@media (min-width:768px) and (max-width:1199px) {
    .button-contact .contact-btn {
        left: 4%
    }

    .homepage .homepage-content .text-1 {
        font-size: 30px
    }

    .homepage .homepage-content .text-2 {
        font-size: 60px
    }

    .homepage .homepage-content .text-3 {
        font-size: 35px
    }

    .about-content__right .info {
        padding: 10px 50px 20px
    }
}

@media (max-width:767px) {
    body {
        font-size: 14px
    }

    .grid {
        width: 90%
    }

    section .title {
        font-size: 20px
    }

    section .title::after {
        bottom: -25px;
        font-size: 18px
    }

    .header.sticky .navbar {
        padding: 3px 15px !important
    }

    .navbar .nav-left a {
        font-size: 30px
    }

    .menu-btn {
        font-size: 25px
    }

    .button-contact .contact-btn {
        left: 0
    }

    .homepage .homepage-content .text-1 {
        font-size: 16px
    }

    .homepage .homepage-content .text-2 {
        font-size: 26px
    }

    .homepage .homepage-content .text-3 {
        font-size: 25px
    }

    .about-content__left .avatar-flash {
        padding: 0 20px 5px
    }

    .about-content__right .name {
        font-size: 20px
    }

    .about-content__right .info {
        padding: unset
    }

    .about-content__right a.download {
        padding: 15px 25px;
        margin-top: 20px;
        width: 180px
    }

    .skills .title-skills {
        font-size: 16px
    }

    .skills-items img {
        width: 90%
    }

    .contact-describe h3,
    .contact-form h3 {
        font-size: 20px
    }

    .contact-describe h3,
    .contact-describe>p,
    .contact-form {
        text-align: center
    }

    .footer {
        font-size: 13px
    }
}