@import url(../css/base.css);

/* ----------------
    general styling
    --------------- */
section {
    padding: 70px 0 50px
}

section .title {
    position: relative;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 60px;
    font-family: Poppins, serif;
    color: var(--black-color)
}

section .title::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%)
}

section .title::after {
    content: "";
    position: absolute;
    bottom: -27px;
    left: 50%;
    font-size: 20px;
    color: var(--secondary-color);
    padding: 0 5px;
    background: var(--white-color);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%)
}

/* ----------------
    scroll styling
    --------------- */
.scroll-up-btn {
    position: fixed;
    right: 30px;
    bottom: 75px;
    z-index: 99;
    width: 45px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    opacity: 0;
    background: var(--linear-color);
    color: var(--white-color);
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.scroll-up-btn.show {
    bottom: 95px;
    opacity: 1
}

.scroll-up-btn:hover {
    box-shadow: 0 0 20px var(--shadow-color)
}

/* -----------------------
    button contact styling
    ----------------------*/
.button-contact {
    position: fixed;
    z-index: 2;
    bottom: 5%;
    left: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.button-contact .contact-btn {
    position: fixed;
    z-index: 2;
    bottom: 11.5%;
    left: 5%;
    font-size: 50px;
    color: var(--secondary-color);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.button-contact .contact-btn.contact-active {
    left: 0
}

.button-contact .contact-btn.contact-active i::before {
    content: "\f0da"
}

.button-contact.contact-active {
    left: -50%
}

.button-contact a {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.button-contact a:hover {
    filter: brightness(115%);
    -webkit-filter: brightness(115%)
}

.button-contact a i {
    color: var(--white-color);
    background: var(--white-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.button-contact a i:hover {
    box-shadow: 0 0 20px var(--shadow-color)
}

.button-contact a:nth-child(2) i {
    background: #3b5998
}

.button-contact a:nth-child(3) i {
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf)
}

.button-contact a:last-child i {
    position: relative;
    border-top: 10px solid #ea4335;
    border-right: 10px solid #4285f4;
    border-bottom: 10px solid #34a853;
    border-left: 10px solid #fbbc05;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%
}

.button-contact a:last-child i::before {
    content: "";
    position: absolute;
    top: 1px;
    right: -10px;
    border-top: 9px solid transparent;
    border-right: 11px solid #fff;
    border-bottom-right-radius: 36%;
    border-bottom: 3px solid transparent;
    border-left: 11px solid transparent;
    transform: rotate(-37deg);
    -webkit-transform: rotate(-37deg);
    -moz-transform: rotate(-37deg);
    -ms-transform: rotate(-37deg);
    -o-transform: rotate(-37deg)
}

.button-contact a:last-child i::after {
    content: "";
    position: absolute;
    top: 45%;
    right: -10px;
    width: 18px;
    height: 7px;
    background: #4285f4;
    transform: translate(-1px, -2px);
    -webkit-transform: translate(-1px, -2px);
    -moz-transform: translate(-1px, -2px);
    -ms-transform: translate(-1px, -2px);
    -o-transform: translate(-1px, -2px);
    border-bottom-right-radius: 1px
}

/* ----------------
    header styling
    --------------- */
.header {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease
}

.header.sticky {
    background: var(--white-color);
    box-shadow: 0 0 30px var(--shadow-color)
}

/* ----------------
    navbar styling
    --------------- */
.navbar {
    padding: 10px 20px !important;
    transition: padding .5s ease;
    -webkit-transition: padding .5s ease;
    -moz-transition: padding .5s ease;
    -ms-transition: padding .5s ease;
    -o-transition: padding .5s ease
}

nav .row {
    justify-content: space-between
}

.navbar .nav-left a {
    width: 80px;
    height: 64px;
    display: flex;
}

.nav-left img {
    width: 100%;
    height: auto;
}

.nav-left img.un-active {
    display: none;
}

.nav-left img.active {
    display: block;
}

.navbar .nav-left a .logo-left {
    color: var(--primary-color)
}

.header.sticky .navbar {
    padding: 5px 0 !important
}

.header.sticky .nav-left a .logo-left {
    color: var(--secondary-color);
    transition: all .7s ease;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease
}

.header.sticky .nav-left a .logo-right {
    color: var(--primary-color);
    transition: all .7s ease;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease
}

.nav-right .menu {
    display: flex;
    align-items: center;
    justify-content: center
}

.nav-right .menu li a {
    display: block;
    color: var(--white-color);
    padding: 15px 10px;
    font-size: 20px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.nav-right .menu li a.nav-active {
    color: var(--secondary-color) !important
}

.nav-right .menu li a:hover {
    color: var(--secondary-color)
}

.header.sticky .nav-right a {
    color: var(--primary-color);
    font-size: 18px
}

.menu-btn {
    font-size: 30px;
    cursor: pointer;
    display: none;
    margin: auto 0
}

.header.sticky .menu-btn {
    color: var(--secondary-color)
}

/* -------------------------
    homepage section styling
    ------------------------*/
.scroll.homepage {
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
}

.homepage {
    background: url(../images/homepage.jpg) center center no-repeat;
    height: 100vh;
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}

.homepage::before {
    content: "";
    background: var(--black-color);
    opacity: .15;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh
}

.homepage .homepage-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%)
}

.homepage .homepage-content .text-1 {
    font-size: 27px
}

.homepage .homepage-content .text-2 {
    font-size: 75px;
    font-weight: 700;
    color: var(--primary-color)
}

.homepage .homepage-content .text-3 {
    font-size: 40px
}

.homepage .homepage-content .text-3 span {
    color: var(--secondary-color);
    font-weight: 700
}

/* ---------------------
   about section styling
    -------------------- */
.about .title::after {
    content: "who am i"
}

.about-content__left .avatar-flash {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 30px
}

.about-content__left .avatar-flash::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 150%;
    background-color: rgba(255, 255, 255, .1);
    top: -100%;
    left: 50%;
    transform: translateX(-100%) rotate(45deg);
    animation: flash 1.5s infinite;
    -webkit-transform: translateX(-100%) rotate(45deg);
    -moz-transform: translateX(-100%) rotate(45deg);
    -ms-transform: translateX(-100%) rotate(45deg);
    -o-transform: translateX(-100%) rotate(45deg);
    -webkit-animation: flash 1.5s infinite
}

@keyframes flash {
    to {
        transform: translateX(100%) rotate(45deg);
        left: 100%;
        top: 50%;
        -webkit-transform: translateX(100%) rotate(45deg);
        -moz-transform: translateX(100%) rotate(45deg);
        -ms-transform: translateX(100%) rotate(45deg);
        -o-transform: translateX(100%) rotate(45deg)
    }
}

.about-content__left img {
    width: 100%;
    height: 100%;
    padding: 5px;
    background: #e1e1e1;
    object-fit: cover;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px
}

.about-content__right {
    margin: auto
}

.about-content__right .name {
    font-weight: 600;
    font-size: 25px;
    padding: 0 0 0 50px
}

.about-content__right .info {
    padding: 10px 0 20px 50px
}

.about-content__right .info div {
    display: flex
}

.about-content__right .info div>p:first-child {
    color: var(--secondary-color);
    min-width: 125px
}

.about-content__right .info p span {
    display: inline-block
}

.about-content__right .info span.paddingAge {
    padding: 0 0 0 5px
}

.about-content__right a.girl-friend {
    color: var(--primary-color);
    font-weight: bold;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}

.about-content__right a.download {
    display: block;
    text-align: center;
    width: 200px;
    margin-left: 50px;
    padding: 20px 40px;
    border: 3px solid var(--secondary-color);
    color: var(--white-color);
    background: var(--secondary-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease
}

.about-content__right a:hover {
    color: var(--secondary-color);
    background: var(--white-color)
}

/* ------------------------
   services section styling
    -----------------------*/
.services {
    background: var(--services-section-color);
    color: var(--white-color)
}

.services .title {
    color: var(--white-color)
}

.services .title::before {
    content: "";
    background: var(--white-color)
}

.services .title::after {
    color: var(--secondary-color);
    background: var(--services-section-color)
}

.services .title::after {
    content: "what i provide";
    white-space: nowrap
}

.services-card {
    overflow: hidden;
    cursor: pointer
}

.services-content__items {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    height: 220px;
    background: var(--services-card-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.services-content__items:hover {
    background: var(--linear-color)
}

.services-content__items:hover i {
    color: var(--white-color)
}

.services-content__items:hover .items-text,
.services-content__items:hover .items-title,
.services-content__items:hover i {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05)
}

.services-content__items .items-text,
.services-content__items .items-title,
.services-content__items i {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.services-content__items i {
    font-size: 45px;
    padding: 10px;
    color: #ecd03b
}

.services-content__items .items-text {
    padding: 5px 20px;
    text-align: center
}

/* ----------------------
   skills section styling
    --------------------- */
.skills .title::after {
    content: "what i know";
    color: var(--secondary-color);
    background: var(--white-color)
}

.skills .title .row>div.col:first-child {
    padding: 15px 0 0
}

.skills .title-skills {
    font-size: 20px
}

.skill-list .row {
    flex-wrap: wrap
}

.skills .title-skills~ul>li {
    list-style-image: url(../images/menu-items-bullet.gif);
    list-style-position: inside
}

.title-skills+p {
    padding: 0 20px 0 0
}

.title-skills+p>span,
.title-skills~span {
    color: var(--secondary-color)
}

.title-skills>i {
    color: var(--primary-color);
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center
}

.skill-list .title-skills:nth-child(2) {
    padding: 20px 0 0
}

.skills-items {
    overflow: hidden;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.skills-items img {
    padding: 10px 0 0;
    width: 100%;
    height: auto;
    transition: all .3s ease;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.skills-items img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1)
}

/* ------------------------
   projects section styling
    ----------------------- */
.projects {
    background: var(--background-color);
    color: var(--primary-color)
}

.projects .title {
    color: var(--primary-color)
}

.projects .title::before {
    content: "";
    bottom: -18px;
    background: var(--primary-color)
}

.projects .title::after {
    color: var(--secondary-color);
    background: var(--background-color)
}

.projects .title::after {
    content: "what i made";
    bottom: -30px
}

.project__items {
    position: relative;
    top: 0;
    border-radius: 10px;
    background: var(--white-color);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px 0;
    height: 280px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.project__items:hover {
    box-shadow: 0 5px 10px var(--shadow-color);
    top: -10px;
}

.project__items:hover .project__items-name {
    color: var(--primary-color);
}

.favorite-project {
    position: absolute;
    z-index: 2;
    top: -2px;
    right: 10px;
    width: 32px;
    height: 40px;
    text-align: center;
    color: var(--white-color);
    background: var(--secondary-color);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
    cursor: pointer;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.project__items:hover .favorite-project {
    opacity: 1;
}

.favorite-project:hover {
    background: var(--primary-color);
}

.favorite-project i {
    font-weight: 900;
    padding-top: 7px;
    font-size: 17px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}


.project__items img {
    width: 100%;
    height: 150px;
    padding: 0 30px;
}

.project__items-name {
    position: relative;
}

.project__items-name h4 {
    text-align: center;
    color: var(--black-color);
    font-weight: bold;
    padding: 15px;
}

.btn-view {
    display: block;
    width: 100px;
    margin: 10px auto 0;
    text-align: center;
    line-height: 30px;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.btn-view:hover {
    color: var(--white-color);
    background: var(--primary-color);
}

/* -----------------------
   contact section styling
    ---------------------- */
.contact {
    position: relative;
}

.contact::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 100%;
    background: url(../images/banner-page-before.png) 50% no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 60px;
}

.contact .title::after {
    content: "get in touch"
}

.contact .title+.row {
    justify-content: space-between
}

.contact-describe h3,
.contact-form h3 {
    font-size: 25px
}

.contact-icons {
    display: flex;
    flex-direction: column
}

.contact-items {
    display: flex;
    align-items: center
}

.contact-items i {
    min-width: 45px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    color: var(--primary-color)
}

.contact-items>p {
    display: flex;
    flex-wrap: wrap
}

.contact-items>div>p:first-child {
    color: var(--secondary-color);
    font-weight: 600
}

.contact-form input {
    width: 100%;
    height: 40px;
    line-height: 40px
}

.contact-form .row {
    padding: 10px 0 0
}

.contact-form .row .col {
    padding: 10px
}

.contact-form input {
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 2px solid #b3b3b3;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px
}

.contact-form input:hover {
    border: 2px solid var(--primary-color)
}

.contact-form input:focus {
    border: 3px solid var(--primary-color)
}

.contact-form a {
    display: block;
    width: 150px;
    padding: 12px 50px;
    outline: 0;
    margin: 0 auto;
    text-align: center;
    border: 2px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--white-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px
}

/* ---------------------
   footer styling
    -------------------- */
.footer {
    background: var(--black-color);
    color: var(--white-color);
    text-align: center;
    font-size: 20px;
    padding: 20px 0
}

.footer span {
    color: var(--secondary-color)
}